:root {
    --main-font: 'Roboto', sans-serif;
    --main-color-light: #ccc;
    --bg-color: rgba(0, 0, 0, 0.8);
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --accent-color: #000;
    --accent-color-hover: #333;
    --error-color: #ffc107;
    --form-bg-color: rgba(0, 0, 0, 0.6);
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

main {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 20px;
}

button[type="submit"] {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: var(--accent-color-hover);
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 10px rgba(51, 51, 51, 0.7);
    z-index: 998;
    background-color: rgba(128, 128, 128, 0.2);
}

@media (min-width: 260px) {
    #particles-js {
        box-shadow: 0 0 5px 5px rgba(51, 51, 51, 0.7);
    }
}

@media (min-width: 480px) {
    #particles-js {
        box-shadow: 0 0 7px 7px rgba(51, 51, 51, 0.7);
    }
}

@media (min-width: 720px) {
    #particles-js {
        box-shadow: 0 0 10px 10px rgba(51, 51, 51, 0.7);
    }
}

@media screen and (max-width: 768px) {
.container {
width: 95%;
}


h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

label {
    font-size: 16px;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    font-size: 16px;
}

button[type="submit"] {
    font-size: 16px;
}
}

@media screen and (max-width: 480px) {
.container {
width: 90%;
}


h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

label {
    font-size: 14px;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    font-size: 14px;
}

button[type="submit"] {
    font-size: 14px;
}
}

@media screen and (max-width: 320px) {
h1 {
font-size: 20px;
}

h2 {
    font-size: 18px;
}

label {
    font-size: 12px;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    font-size: 12px;
}

button[type="submit"] {
    font-size: 12px;
}
}

@media screen and (max-width: 320px) {
.container {
width: 85%;
}

h1 {
font-size: 20px;
}

h2 {
    font-size: 18px;
}

label {
    font-size: 12px;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    font-size: 12px;
}

button[type="submit"] {
    font-size: 12px;
}
}

