.header {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 0.3rem; /* уменьшено с 1rem до 0.5rem */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1001;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

.header-logo {
  color: #fff;
  font-size: 1rem; /* уменьшено с 1.5rem до 1.2rem */
  font-weight: 700;
}

.logo-text {
  font-size: 20px; /* уменьшено с 25px до 20px */
  font-weight: bold;
  background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 40%, rgba(255,255,255,1) 41%,rgba(255,255,255,1) 59%, rgba(255,255,255,0.2) 60%,rgba(255,255,255,0.2) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: motion 3s infinite linear;
  text-transform: capitalize;
}
@media screen and (min-width: 280px) and (max-width: 320px) {
  .header {
    padding: 0.3rem; /* уменьшено с 1rem до 0.3rem */
  }

  .header-logo {
    font-size: 1rem; /* уменьшено с 1.5rem до 1rem */
  }

  .logo-text {
    font-size: 15px; /* уменьшено с 25px до 15px */
  }
}


@keyframes motion {
  0% {
    background-position: -110px;
  }
  100% {
    background-position: 360px;
  }
}
