.fullscreen-photo {
    position: fixed;
    top: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 80% 80%, 70% 90%, 30% 90%, 20% 80%, 0% 80%); /* Задание кривой формы */
    overflow: hidden; /* Обрезание содержимого, чтобы соответствовать форме */
}

.fullscreen-photo img {
    max-width: 100%;
    max-height: 100%;
}

.bottom-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-button {
    background-color: #222222;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.auth-button:hover {
    background-color: #FF9900;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.auth-button:active {
    background-color: #222222;
    box-shadow: none;
    transform: translateY(0);
}
