<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/loading-page.css">
</head>
<body>

<div class="loading hidden">
    <div class="loading-text">
        <span class="loading-text-words">L</span>
        <span class="loading-text-words">O</span>
        <span class="loading-text-words">A</span>
        <span class="loading-text-words">D</span>
        <span class="loading-text-words">I</span>
        <span class="loading-text-words">N</span>
        <span class="loading-text-words">G</span>
    </div>
</div>
<div class="saturnusgo hidden">
    <div class="saturnusgo-text">
        <span class="saturnusgo-text-words">S</span>
        <span class="saturnusgo-text-words">A</span>
        <span class="saturnusgo-text-words">T</span>
        <span class="saturnusgo-text-words">U</span>
        <span class="saturnusgo-text-words">R</span>
        <span class="saturnusgo-text-words">N</span>
        <span class="saturnusgo-text-words">U</span>
        <span class="saturnusgo-text-words">S</span>
        <span class="saturnusgo-text-words">G</span>
        <span class="saturnusgo-text-words">O</span>
    </div>
</div>

<button class="btn-next hidden">Дальше</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/sta.js"></script>
</body>
</html>
