<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" type="image/png" href="/public/videos/favicon.jpg">
  <title>Вход</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="/public/style_navbar.css">
  <link rel="stylesheet" href="/public/login.css">
  <link rel="stylesheet" href="/public/form-login.css">
  <link rel="stylesheet" href="/public/login-footer.css">
  <link rel="stylesheet" href="/public/intro.css">
  <link rel="stylesheet" href="/public/language-switcher.css">
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <header class="header">
    <div class="header-logo">
      <span class="logo-text">SaturnusGo</span>
    </div>
     <div class="language-switch-dropdown" id="language-switch-dropdown">
            <i class="fas fa-globe" id="language-globe"></i>
            <div class="language-option-container" id="language-menu">
                <a href="#" class="language-option active" data-lang="ru">RU</a>
                <a href="#" class="language-option" data-lang="en">EN</a>
                <a href="#" class="language-option" data-lang="es">ES</a>
                <a href="#" class="language-option" data-lang="ua">UA</a>
            </div>
        </div>
  </header>
  <main>
    <div id="particles-js"></div>
    <div class="content">
      <div class="container">
        <h2 data-ru="Вход" data-en="Login" data-es="Iniciar sesión">Вход</h2>
        <p id="error-message" class="flashes">{{ message }}</p>
        <form action="/auth/login" method="post">
          <label for="login-email" data-ru="Почта:" data-en="email:" data-es="email:">Эл.Почта:</label>
          <input type="email" id="login-email" name="email" autocomplete="username" placeholder="Введите Электронную почту" required>
          <label for="password" data-ru="Пароль:" data-en="Password:" data-es="Contraseña:">Пароль:</label>
          <input type="password" id="password" name="password" autocomplete="current-password" placeholder="Введите пароль" required>
          <button type="submit" data-ru="Войти" data-en="Login" data-es="Iniciar sesión">Войти</button>
        </form>
  <!-- Add "Forgot password?" link under the form -->
        <p class="forgot-password-link" data-ru="Забыли пароль?" data-en="Forgot password?" data-es="¿Olvidaste tu contraseña?">Забыли пароль?</p>
  <!-- Add modal with email input form -->
        <div class="modal" id="forgot-password-modal">
          <div class="modal-content">
            <div id="particles-js-modal"></div>
            <span class="close">&times;</span>
            <h2 data-ru="Восстановление пароля" data-en="Password recovery" data-es="Recuperación de contraseña">Восстановление пароля</h2>
            <form id="forgot-password-form">
              <label for="recovery-email" data-ru="Email:" data-en="Email:" data-es="Email:">Email:</label>
              <input type="email" id="recovery-email" name="email" required>
              <button type="submit" data-ru="Отправить" data-en="Send" data-es="Enviar">Отправить</button>
              <button type="button" class="back-btn" data-ru="Назад" data-en="Back" data-es="Atrás">Назад</button>
            </form>
          </div>
        </div>
      </div>
      <video autoplay muted playsinline loop id="myVideo">
        <source src="/public/videos/car.mp4" type="video/mp4">
      </video>
    </div>
    <footer>
      <p data-ru="SaturnusGo ©Все права защищены" data-en="SaturnusGo ©All rights reserved" data-es="SaturnusGo ©Todos los derechos reservados">SaturnusGo ©Все права защищены</p>
      <div class="custom-container">
        <p><a href="{{ url_for('get_register') }}" class="register-link" data-ru="Зарегистрируйтесь" data-en="Register" data-es="Regístrate">Зарегистрируйтесь</a></p>
      </div>
    </footer>
  </main>
    {% include 'loader.html' %}
</body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/public/js/particular.js"></script>
<script src="/public/js/side-bar.js"></script>
<script src="/public/js/languages-login.js"></script>
<script src="/public/js/languages.js"></script>
<script src="/public/js/bck-btn-anim.js"></script>
<script src="/public/js/login-form.js"></script>
</html>

