<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="/public/videos/favicon.jpg">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .input-fields {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
        }

        .driver-popup {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div id='map'></div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWVyY3VyeXl5eSIsImEiOiJjbGc4eTRvcmYwMW5yM2ZxaWcwYTdrb2U2In0.z4zVOEpjuwcpE8dIOllo0g';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/outdoors-v11',
            center: [-57.5575, -37.9975], // Установите начальные координаты в Гео-мар Дель Плате
            zoom: 12 // Установите начальный масштаб
        });

        map.on('load', function() {
            // Инициализация плагина Mapbox GL Directions
            var directions = new MapboxDirections({
                accessToken: mapboxgl.accessToken,
                unit: 'metric',
                profile: 'mapbox/driving',
                alternatives: true,
                bbox: [-58.5938, -35.0799, -57.1073, -34.3072] // Ограничить маршруты только в пределах Гранд Мар Дель Платы
            });

            map.addControl(directions);

            directions.on('route', function() {
                // При выборе маршрута скрыть поля ввода
                document.getElementById('inputFields').style.display = 'none';

                // Получить координаты балуна водителя
                var driverLocation = directions.getOrigin();

                // Создать и открыть всплывающее окно с информацией о водителе
                var driverPopup = new mapboxgl.Popup()
                    .setLngLat(driverLocation)
                    .setHTML('<h3>Информация о водителе</h3><p>Имя: John Doe</p><p>Автомобиль: Toyota Camry</p>')
                    .addTo(map);

                // Приблизить карту к местоположению водителя
                map.flyTo({
                    center: driverLocation,
                    zoom: 15
                });

                // Задержка перед показом всплывающего окна водителя
                setTimeout(function() {
                    driverPopup.addTo(map);
                    driverPopup.getElement().style.visibility = 'visible';
                }, 1000);
            });
        });

        function submitForm() {
            var origin = document.getElementById('origin').value;
            var destination = document.getElementById('destination').value;
            if (origin && destination) {
                var directions = new MapboxDirections({
                    accessToken: mapboxgl.accessToken
                });

                map.addControl(directions);

                directions.setOrigin(origin);
                directions.setDestination(destination);

                // Скрыть поля ввода
                document.getElementById('inputFields').style.display = 'none';
            }
        }
    </script>
</body>
</html>
