<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title data-ru="Редактирование профиля" data-en="Profile Edit" data-es="Edición del perfil" data-ua="Редагування профілю">Редактирование профиля</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/framework7/css/framework7.bundle.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,-25" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/custom-profile.css">
    <link rel="stylesheet" href="/public/side-bar.css">
    <link rel="stylesheet" href="/public/language-switcher.css">
    <link rel="stylesheet" href="/public/login-footer.css">
    <link rel="stylesheet" href="/public/security-page.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">
        <span class="logo-text">SaturnusGo</span>
         </div>
        <div class="language-switch-dropdown" id="language-switch-dropdown">
            <i class="fas fa-globe" id="language-globe"></i>
            <div class="language-option-container" id="language-menu">
                <a href="#" class="language-option active" data-lang="ru">RU</a>
                <a href="#" class="language-option" data-lang="en">EN</a>
                <a href="#" class="language-option" data-lang="es">ES</a>
                <a href="#" class="language-option" data-lang="ua">UA</a>
            </div>
        </div>
        <button class="sidebar-toggle" id="sidebar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="sidebar" id="sidebar">
            <ul class="sidebar-links">
               <li><a href="/welcome" data-ru="Главная" data-en="Home" data-es="Inicio" data-ua="Головна">Главная</a></li>
                <li><a href="#about" data-ru="О нас" data-en="About" data-es="Acerca de" data-ua="Про нас">О нас</a></li>
                <li><a href="#services" data-ru="Услуги" data-en="Services" data-es="Servicios" data-ua="Послуги">Услуги</a></li>
                <li><a href="#contact" data-ru="Контакты" data-en="Contacts" data-es="Contactos" data-ua="Контакти">Контакты</a></li>
            </ul>
        </div>
    </header>
    <div class="content-wrapper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/security-page" class="slider-button active" data-ru="Безопасность" data-en="Security" data-es="Seguridad">Безопасность</a>
                </div>
                <div class="swiper-slide">
                    <a href="/profile/44" class="slider-button" data-ru="Данные аккаунта" data-en="Account Data" data-es="Datos de la cuenta">Данные аккаунта</a>
                </div>
                <div class="swiper-slide">
                    <a href="/404" class="slider-button" data-ru="Статистика поездок" data-en="Trip Statistics" data-es="Estadísticas de viaje">Статистика поездок</a>
                </div>
            </div>
        </div>
    </div>
    <h1 data-ru="Вход в аккаунт SaturnusGo" data-en="Log in to SaturnusGo account" data-es="Iniciar sesión en la cuenta de SaturnusGo" data-ua="Увійти в акаунт SaturnusGo">Вход в аккаунт SaturnusGo</h1>
    <div class="modal-background"></div>
    <div class="password-change-container">
        <div class="password-change">
            <div class="password-change-title" data-ru="Смена пароля" data-en="Change Password" data-es="Cambiar contraseña" data-ua="Зміна пароля">Смена пароля</div>
            <div class="password-change-input">
                <input type="password" placeholder="Новый пароль" data-ru="Новый пароль" data-en="New Password" data-es="Nueva contraseña">
                <input type="password" placeholder="Подтвердите новый пароль" data-ru="Подтвердите новый пароль" data-en="Confirm New Password" data-es="Confirme la nueva contraseña">
                <i id="login-eye" class="ri-eye-off-line"></i>
                <button class="add-card-button" data-ru="Добавить кредитную карту" data-en="Add Credit Card" data-es="Agregar tarjeta de crédito" data-ua="Додати кредитну картку" onclick="redirectToAddCard()">Добавить кредитную карту
                    <span class="material-symbols-outlined">
                        credit_card
                    </span>
                </button>
            </div>
            <div class="password-change-button">
                <button data-ru="Сохранить" data-en="Save" data-es="Guardar" data-ua="Зберегти">Сохранить</button>
            </div>
        </div>
    </div>
    <footer>
        <p data-ru="SaturnusGo ©Все права защищены" data-en="SaturnusGo ©All rights reserved" data-es="SaturnusGo ©Todos los derechos reservados" data-ua="SaturnusGo ©Усі права захищені">SaturnusGo ©Все права защищены</p>
        <div class="custom-container">
        </div>
    </footer>
    <script>
        function redirectToAddCard() {
        window.location.href = '/add-card';
        }
</script>
    <script src="https://unpkg.com/framework7/js/framework7.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/public/js/profile.js"></script>
    <script src="/public/js/languages.js"></script>
    <script src="/public/js/languages-login.js"></script>
    <script src="/public/js/side-bar.js"></script>
    <script src="/public/js/password-change.js"></script>
</body>
</html>
